.navbar {
    background-color: red;
    padding: 20px;
    display: flex;
    justify-content: right;
}

.navitems {
    color: white;
    text-decoration: none;
}

.navitem {
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    justify-content:space-around;
}

Link {
    background-color: green;
}